<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/foundation.css">
    <link rel="stylesheet" href="../static/css/maps.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs8bMIpBvlddapmUblA7ApS-HHBKcJWLc">
    </script>
    <script type="text/javascript">
      var crimes = {{crimes|tojson}};
    </script>
    <script type = "text/javascript" src="../static/javascript/map.js">
    </script>
  </head>
  <body>
  
    <nav class="top-bar" data-topbar role="navigation" id="top">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><b>RU</b>crime</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a>Choose Campus</a>
            <ul class="dropdown">
              <li class="active"><a onclick="jumpToCampus('CA')">College Ave</a></li>
              <li class="active"><a onclick="jumpToCampus('CD')">Cook/Douglass</a></li>
              <li class="active"><a onclick="jumpToCampus('B')">Busch</a></li>
              <li class="active"><a onclick="jumpToCampus('L')">Livingston</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div id="map-canvas"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="../static/javascript/foundation.min.js"></script>
    <script src="../static/javascript/foundation.topbar.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

